### IDEs
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

### Java

# Java
*.class

# Java Package files
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

### Gradle
.gradle
/build
/captures
gradle-app.setting
# avoid ignoring gradle wrapper jar file
!gradle-wrapper.jar
.gradletasknamecache
/local.properties

### Vim - not so important but Thomas uses vim a lot, so better it's included
*.swp
